html {
  background: #F5F5F5;
  max-width: 1440px;
  font-family: 'Open Sans', sans-serif;
}
body {
  background: white;
  max-width: 1400px;
  margin: 0 auto;
  border-top: 2px #F5F5F5 solid;
}
.container {
  border-top: 2px #F5F5F5 solid;
  height: 100%;
  margin: 0 auto;
  padding: 30px;
  /*    overflow: hidden;*/
}
ul {
  list-style: none;
}
span {
  padding: 5px;
}
.fa-caret-down {
  color: grey;
}
.item {
  margin: 3px;
  width: 50px;
  height: 50px;
  float: left;
  background: #2296DD;
}
.item.thumbnail {
  width: 100px;
  height: 100px;
  background: #cfcfcf
}
.item.medium {
  width: 150px;
  height: 50px;
  background: #A6E392
}
.item.large {
  width: 300px;
  height: 200px;
  background: #D092E3
}
img {
    transition: all .4s ease-in-out;
}
.hide {
  transform: scale(0);
  width: 0;
  height: 0;
  padding: 0;
  margin:0;
  transition: all .4s ease-in-out;

}
nav {
  width: 100%;
}
.logo {
  color: white;
  letter-spacing: 1.5px;
  font-weight: 600;
  display: block;
  background: #00AEEF;
  padding: 0 10px;
  border-radius: 10px;
}
ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
}
li a {
  font-size: 1.1rem;
  position: relative;
  top: 27px;
  text-align: center;
  left: 85px;
  margin-right: 50px;
  display: block;
  color: black;
  text-decoration: none;
}
a:hover {
  padding-bottom: 5px;
  margin-bottom: 0px;
  border-bottom: 2px #2ec6ff solid;
}
.sidefilter {
  width: 15%;
  float: left;
  height: 100%;
  /*    position: fixed;*/
}
.sidefilter h1 {
  font-size: 1rem;
  color: #282828;
  font-weight: bold;
  padding-bottom: 15px;
  width: 100%;
  margin-bottom: 0;
  border-bottom: 2px #F5F5F5 solid;
}
.sidefilter h2 {
  font-size: 1rem;
}
.sidefilter>p {
  padding: 10px 15px;
  margin: 0;
}
.sidefilter-item:hover {
  color: #767676;

}
.seperator_icon {
  font-size: 1rem;
  color: #2ec6ff;
  letter-spacing: 2px;
  font-weight: bold;
}
.side-filter-item_selected {
  color: white;
  background-color: #DDE1E6;

}
.fa-times {
   font-size: 16px;
   float: right;
   padding: 0;
   margin-top: 3px;
}
.header {
  width: 87%;
}
.slogan {
  text-align: center;
  color: #2ec6ff;
  letter-spacing: 2px;
  font-weight: normal;
  margin: 80px 0;
  font-size: 2rem;
}
.pagecontent {
  margin-left: 20%;
  overflow: hidden;
}