html {
  background: #F5F5F5;
  max-width: 1400px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}
body {
  background: white;
  height: 100%;
  margin: 0 auto;
  border-top: 2px #F5F5F5 solid;
}
.container {
  border-top: 2px #F5F5F5 solid;
  height: 100%;
  margin: 0 auto;
  padding: 30px;
  /*    overflow: hidden;*/
}
ul {
  list-style: none;
}
span {
  padding: 5px;
}
.fa-caret-down {
  color: grey;
}