html{
    background: white;
    max-width: 1440px;
/*    font-family: 'Roboto', sans-serif;*/
    font-family: 'Open Sans', sans-serif;


}

body{
margin: 40px  30px 40px 30px; 
 border-top: 2px #F5F5F5 solid;    
}

.container {
    height: 100%;
    margin: 50px;
    overflow: hidden;
}

ul {
    list-style: none;
  

}

span {
    padding: 5px;
}

/*
h2{
  
font-size: 1rem;
}

h1{
    font-size: 1.25rem;
}
*/

.fa-caret-down {
   color: grey; 
}