.item {
  margin: 3px;
  width: 50px;
  height: 50px;
  float: left;
  background: #2296DD;
}
.item.thumbnail {
  width: 100px;
  height: 100px;
  background: #cfcfcf
}
.item.medium {
  width: 150px;
  height: 50px;
  background: #A6E392
}
.item.large {
  width: 300px;
  height: 200px;
  background: #D092E3
}